body, h1, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 50px;
    width: 500px;
    text-align: center;
}

.center-text {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.login-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    padding-right: 10px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}
.phone-input-container {
    display: flex;
    align-items: center;
  }

  .country-code {
    flex: 1;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 40px;
    
  }

  .phone-number {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    width: 20px;
  }

  /* You can style these elements further as needed */

  /* Example of styling when focused */
  .country-code:focus,
  .phone-number:focus {
    outline: 2px solid #3498db;
  }
  .minimg{
    height: 60px;
  }
  .login-button{
    margin-left: 190px;
    margin-top: 20px;
  }